<h2 class="mb-4 text-center">Esqueceu sua senha?</h2>

<div class="col-md-4 mx-auto">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, "Email", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
    </div>

    <div class="d-grid">
      <%= f.submit "Enviar instruções para resetar a senha", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
