<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(expense.errors.count, "erro") %> impediram esta despesa de ser salva:</h5>
      <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :description, "Descrição", class: "form-label" %>
    <%= form.text_field :description, class: "form-control", required: true %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :recurring, class: "form-check-input" %>
    <%= form.label :recurring, "Despesa recorrente para os próximos meses?", class: "form-check-label" %>
  </div>

  <div class="mb-3">
    <%= form.label :amount, "Valor", class: "form-label" %>
    <div class="input-group">
      <span class="input-group-text">R$</span>
      <%= form.number_field :amount, step: 0.01, class: "form-control", required: true, placeholder: "Ex: 123.45 (use ponto)" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :date, "Data da despesa", class: "form-label" %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :due_date, "Data de vencimento (opcional)", class: "form-label" %>
    <%= form.date_field :due_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, "Categoria", class: "form-label" %>
    <%= form.select :category,
        ["Alimentação", "Transporte", "Moradia", "Lazer", "Saúde", "Educação", "Outros"],
        { prompt: "Selecione uma categoria" },
        class: "form-select", required: true %>
  </div>

  <div class="form-check mb-4">
    <%= form.check_box :paid, class: "form-check-input" %>
    <%= form.label :paid, "Pago?", class: "form-check-label" %>
  </div>

  <div class="d-grid">
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
