<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    <title>Despesas Web 2.0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'icons/icon.png' %>
    <%= favicon_link_tag 'icons/icon.png', type: 'image/svg+xml' %>
    <%= favicon_link_tag 'icons/icon.png', rel: 'apple-touch-icon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100 bg-primary bg-opacity-10">
    <%= render 'shared/navbar' %>
    
    <main class="container my-4 flex-grow-1">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>