<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'icon.png' %>
    <%= favicon_link_tag 'icon.svg', type: 'image/svg+xml' %>
    <%= favicon_link_tag 'icon.png', rel: 'apple-touch-icon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/navbar' %>
    
    <main class="container my-4 flex-grow-1">
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>